.container{
    width: 1240px;
    height: 76px;
    margin: 30px 100px 40px 100px;
    font-family: Inter;

    .content{
        display: flex;
        align-items: center;

        .logo{
            cursor: pointer;
        }

        .search{
            margin-left: 408px;

            input{
                width: 250px;
                height: 45px;
                border: 1px solid #3D7FC1;
                border-radius: 10px;
                padding: 15px 0px 15px 46px;
                font-family: Inter;
                font-size: 14px;
                color: #3D7FC1;
                background: url(../../../public/img/search.svg) no-repeat 18px center;
                

                &::placeholder{
                    color: #3D7FC1;
                    margin-left: 40px;
                }
            }
        }

        .cart{
            width: 95px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 160px;
            font-size: 14px;
            color: #5C5C5C;
            font-weight: 600;
            cursor: pointer;
        }

        .favorite{
            width: 105px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 28px;
            font-size: 14px;
            color: #5C5C5C;
            cursor: pointer;
        }
    }

    hr{
        border: 1px solid #EAEAEA;
        margin: 16px 0 0 0;
    }
}