*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 1440px;
  margin: 0 auto;
  font-family: Inter;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/font/Inter_Regular.ttf');
}