.container{
    padding: 100px 270px 0 335px;  

    .text{
        width: 836px;
        display: flex;
        justify-content: space-between;

        .title{
            width: 184px;
            display: flex;
            justify-content: space-between;
            font-size: 32px;
            font-weight: 900;
            align-items: center;
        }

        .clear{
            width: 169px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #B6B6B6;
            cursor: pointer;
            user-select: none;
        }
    }

    .cards{
        margin: 30px 0 0 0;

        .card{

            hr{
                border: 1px solid #F4F4F4;
            }

            .card_content{
                width: 836px;
                margin: 44px 0 0 0;
                display: flex;
                justify-content: space-between;

                .img{
                    width: 95px;
                    height: 80px;
                }

                .card_text{
                    width: 306px;

                    p:nth-of-type(1){
                        height: 38px;
                        font-weight: 900;
                    }

                    p:nth-of-type(2){
                        font-size: 18px;
                        color: #8D8D8D;
                    }  
                }

                .quantity{
                    width: 102px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 22px;
                    font-weight: 900;
                }

                .price{
                    font-size: 22px;
                    font-weight: 900;
                    margin: 18px 0 0 0;
                }

                .delete{
                    margin: 15px 0 0 0;
                }
            }
        }
    }

    .total{
        margin: 100px 0 0 0;
        display: flex;
        justify-content: space-between;
        font-size: 22px;

        p:nth-of-type(1){

            span{
                font-weight: 900;
            }
        }

        p:nth-of-type(2){

            span{
                color: #3D7FC1;
            }
        }
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        margin: 40px 0 0 0;

        button{
            width: 211px;
            height: 55px;
            border-radius: 30px;
            cursor: pointer;
        }

        button:nth-of-type(1){
            border: 1px solid #D3D3D3;
            color: #D3D3D3;
            font-size: 16px;
            background: none;
            font-family: Inter;

            img{
              margin: 0 10px 0 0;  
            }
        }

        button:nth-of-type(2){
            border: none;
            background-color: #3D7FC1;
            color: #fff;
            font-weight: 900;
            font-size: 16px;
            font-family: Inter;
        }
    }
}

@media (max-width: 768px) {
    .container{
        width: 768px;
        padding: 50px 135px 0 177px;
        margin: 0 auto;
    
        .text{
            width: 417px;
    
            .title{
                width: 92px;
                font-size: 17px;

                img{
                    width: 15px;
                }
            }
    
            .clear{
                width: 90px;
                font-size: 8px;

                img{
                    width: 10px;
                }
            }
        }
    
        .cards{
            margin: 15px 0 0 0;
    
            .card{
    
                hr{
                    width: 418px;
                    border: 0.5px solid #F4F4F4;
                }
    
                .card_content{
                    width: 418px;
                    margin: 22px 0 0 0;
    
                    .img{
                        width: 50px;
                        height: 42px;
                    }
    
                    .card_text{
                        width: 153px;
    
                        p:nth-of-type(1){
                            height: 19px;
                            font-size: 8px;
                        }
    
                        p:nth-of-type(2){
                            font-size: 9px;
                        }  
                    }
    
                    .quantity{
                        width: 51px;
                        font-size: 11px;

                        img{
                            height: 17px;
                        }
                    }
    
                    .price{
                        font-size: 11px;
                        margin: 15px 0 0 0;
                    }
    
                    .delete{
                        margin: 15px 0 0 0;

                        img{
                            width: 17px;
                        }
                    }
                }
            }
        }
    
        .total{
            margin: 50px 0 0 0;
            font-size: 11px;
        }
    
        .buttons{
            margin: 20px 0 0 0;
    
            button{
                width: 105px;
                height: 27px;
                border-radius: 15px;
            }
    
            button:nth-of-type(1){
                border: 0.5px solid #D3D3D3;
                font-size: 8px;
                background: none;
    
                img{
                    width: 5px;
                    margin: 0 10px 0 0;  
                }
            }
    
            button:nth-of-type(2){
                font-size: 8px;
            }
        }
    }
}

@media (max-width: 320px) {
    .container{
        width: 320px;
        padding: 10px 10px 0 10px;
        margin: 0 auto;
    
        .text{
            width: 300px;
    
            .title{
                width: 64px;
                font-size: 11px;

                img{
                    width: 10px;
                }
            }
    
            .clear{
                width: 58px;
                font-size: 5px;

                img{
                    width: 7px;
                }
            }
        }
    
        .cards{
            margin: 10px 0 0 0;
    
            .card{
    
                hr{
                    width: 300px;
                    border: 0.5px solid #F4F4F4;
                }
    
                .card_content{
                    width: 300px;
                    margin: 15px 0 0 0;
    
                    .img{
                        width: 33px;
                        height: 27px;
                    }
    
                    .card_text{
                        width: 106px;
    
                        p:nth-of-type(1){
                            height: 14px;
                            font-size: 6px;
                        }
    
                        p:nth-of-type(2){
                            font-size: 6px;
                        }  
                    }
    
                    .quantity{
                        width: 35px;
                        font-size: 7px;

                        img{
                            height: 11px;
                        }
                    }
    
                    .price{
                        font-size: 7px;
                        margin: 10px 0 0 0;
                    }
    
                    .delete{
                        margin: 5px 0 0 0;

                        img{
                            width: 11px;
                        }
                    }
                }
            }
        }
    
        .total{
            margin: 15px 0 0 0;
            font-size: 7px;
        }
    
        .buttons{
            margin: 14px 0 0 0;
    
            button{
                width: 73px;
                height: 20px;
                border-radius: 10px;
            }
    
            button:nth-of-type(1){
                border: 0.5px solid #D3D3D3;
                font-size: 6px;
                background: none;
    
                img{
                    width: 4px;
                    margin: 0 3px 0 0;  
                }
            }
    
            button:nth-of-type(2){
                font-size: 6px;
            }
        }
    }
}