.container{
    padding: 40px 100px;

    .content{
        display: flex;
        align-items: center;
        margin: 0 0 40px 0;

        p{
            font-weight: 900;
            font-size: 32px;
            margin: 0 0 0 30px;
        }

        img{
            cursor: pointer;
        }
    }

    .cards{
        width: 1240px;
        display: grid;
        grid-template-columns: 295px 295px 295px 295px;
        column-gap: 20px;
        row-gap: 35px;
    }
}