.cards{
    width: 1240px;
    display: grid;
    grid-template-columns: 295px 295px 295px 295px;
    column-gap: 20px;
    row-gap: 35px;
}

@media (max-width: 768px) {
    .cards{
        width: 661px;
        display: grid;
        grid-template-columns: 157px 157px 157px 157px;
        column-gap: 10px;
        row-gap: 18px;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .cards{
        width: 300px;
        display: grid;
        grid-template-columns: 120px 120px;
        column-gap: 20px;
        row-gap: 20px;
        padding: 0 0 0 20px;
    }
}