.container{
    width: 766px;
    height: 354px;
    margin: 0 337px 50px 337px;

    img{
        position: absolute;
    }

    .content{
        position: relative;
        padding: 50px;

        .text{
            font-size: 30px;
            font-weight: 900;
            display: flex;
            justify-content: space-between;
            color: #fff;

            p:nth-of-type(1){
                width: 203px;
            }

            span{
                color: #3D7FC1;
            }
        }
    }
}

@media (max-width: 768px) {
    .container{
        width: 408px;
        height: 189px;
        margin: 0 0 50px 0;
        margin: 0 auto;

        img{
            width: 408px;
            height: 189px;
        }
    
        .content{
            padding: 26px;
    
            .text{
                font-size: 16px;
    
                p:nth-of-type(1){
                    width: 83px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .container{
        display: none;
    }
}